body{
    margin: 0;
    background-image: url("../img/Dacomsa/fondo.jpg");
    font-family: 'Myriad Pro Regular';

}


.header{
    position: absolute;
    width: 100%;
    top: 6%;
    height: 20%;
}
.header img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgIzquierda{
    float: left;
    width: 50%;
    margin: 0;
    height: 99.4%;
    position: absolute;
}
.imgIzquierda img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgDerecha{
    width: 60%;
    height: 73.4%;
    margin: 0;
    top: 26%;
    position: absolute;
    left: 40%;
}
.imgDerecha div{
    width: 100%;
    height: 100%;
    
}
.imgDerecha img{
    width: 100%;
    height: 100%;
}

.menu{
    position: absolute;
    top: 10%;
    left: 43%;
}
.menu2{
    position: absolute;
    top: 10%;
    left: 60%;
}
.menu3{
    position: absolute;
    top: 8%;
    left: 47%;
}
.menu3 dl{
    margin: 0;
    line-height: 2.3;
}
dl{
    margin: 0;
    line-height: 2;
    margin-bottom: 0;
}

p{
color: white;
font-size: 1.3vw ;
margin: 0;
}

.especialistas{
    display: none;
    position: absolute;
    top: 26%;
    right: 0%;
    width: 30%;
}

.especialistas img{
    width: 100%;
}

.redesSociales{
    
    position: absolute;
    top: 75%;
    width: 30%;
    height: 12.5%;
    left: 12%;
    display: flex;
}
.redesSociales img{
    width: 25%;
    margin-right: 2%;
}

.video06{
    position: absolute;
    width: 50%;
    top: 45%;
    left: 48%;
    display: none;
}

.video06 video{
    width: 100%;
    position: absolute;
}
.link06{
    display: none;
    position: absolute;
    top: 90%;
    left: 18%;
}
.link06 p {
    font-size: 2.4vw;
    color: #92161a;
}

#home img{
    position: absolute;
    width: 3%;
    
    left: 90%;
}
#back{
    position: absolute;
    width: 3%;
    
    left: 80%;

}

.imgSmall{
    float: left;
    width: 50%;
    margin: 0;
     top: 53%;
     left: 8%;
    height: 13%;
    position: absolute;
}
.imgSmall div{
    width: 100%;
    height: 100%;
    
}
.imgSmall img{
    position: absolute;
    width: 70%;
    height: 100%;
}