body{
    background-image: url("../img/fondo.jpg");
    font-family: 'Myriad Pro Regular';

  }
p{
  font-family: 'Myriad Pro Regular';
  font-weight:normal;
} 
  .contenedor {
    position: relative;
    height: 290px;
    width: 290px;
    margin: 50px 20px;
    float: left;
  }
  
  .contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }
  
.contenedorLogos {
  position: absolute;
    top: 70%;
    display: flex;
    align-items: center;
    left: 24%;
    transform: translate(-50%);

}

.logo{
  width: 120px;
  height: 100px;
  float: left;
  margin: 10px;
  transition: opacity 0.5s ease-in-out;
}

.logo:hover{
  opacity: 1;
}
.logo img{

width: 100%;
height: 100%;
}
.imagen{
  position: absolute;
  width: 30%;
  height: 63%;
  top: 5%;
  left: 50%;
  transform: translate(-55%);
  
}
.imagen img{
  position: absolute;
  height: 100%;
}
.logoPrincipalBlanco{
  background-color: red;
  position: absolute;
  display: none;
}
.logoPrincipalBlanco:hover{
  display: inline-block;
}


#option1{
  display: flex;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  
  width: 30%;
  height: 3%;
}
#option1 img{
  width: 100%;
}
#option2{
  display: flex;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  
  width: 30%;
  height: 3%;
}
#option2 img{
  width: 100%;
}