body{
    margin: 0;
    background-image: url("../img/Dacomsa/fondo.jpg");
    font-family: 'Myriad Pro Regular';
    cursor: pointer;

}
body a:link 
{ 
text-decoration:none; 
} 

#slogan{
    top: 19.5%;
    left: 78.5%;
    position: absolute;
    color: white;
    margin: 0%;
    font-size: 22px;
}
#slogan2{
    top: 20%;
    left: 79%;
    position: absolute;
    color: white;
    margin: 0%;
    font-size: 18px;
}
#slogan3{
    top: 20%;
    left: 84%;
    position: absolute;
    color: white;
    margin: 0%;
    font-size: 22px;
}
.header{
    position: absolute;
    width: 100%;
    top: 6%;
    height: 20%;
}
.header img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgIzquierda{
    float: left;
    width: 50%;
    margin: 0;
    height: 99.4%;
    position: absolute;
}
.imgIzquierda img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgDerecha{
    width: 60%;
    height: 73.4%;
    margin: 0;
    top: 26%;
    position: absolute;
    left: 40%;
}
.imgDerecha div{
    width: 100%;
    height: 100%;
    
}
.imgDerecha img{
    width: 100%;
    height: 100%;
}
.imgDerecha video{
    height: 100%;
    width: 100%;
}
.imgDerechaTremec{
    width: 55%;
    height: 60%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 45%
}
.moresaCarousel{
    width: 55%;
    height: 60%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 45%
}
.fritecCarousel{
    width: 50%;
    height: 60%;
    margin: 0;
    top: 40%;
    position: absolute;
    left: 50%
}
.autoparCarousel{
    width: 55%;
    height: 60%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 45%
}
.tspCarousel{
    width: 50%;
    height: 60%;
    margin: 0;
    top: 40%;
    position: absolute;
    left: 50%
}
.autopar2Carousel{
    width: 50%;
    height: 60%;
    margin: 0;
    top: 40%;
    position: absolute;
    left: 50%
}
.lukoiCarousel{
    width: 25%;
    margin: 0;
    top: 77%;
    position: absolute;
    left: 62%;
}
.imgDerechaTremec div{
    
    width: 100%;
    height: 100%;
    
}
.imgDerechaTremec img{

    position: absolute;
    width: 100%;
    height: 100%;
}

.imgDerechaTremec2{
    width: 53%;
    height: 60%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 47%
}

.imgDerechaTremec2 div{
    
    width: 100%;
    height: 100%;
    
}
.imgDerechaTremec2 img{

    position: absolute;
    width: 100%;
    height: 100%;
}
.menu{
    position: absolute;
    top: 12%;
    left: 41%;
}
.menu2{
    position: absolute;
    top: 12%;
    left: 58%;
}
.menu3{
    position: absolute;
    top: 8%;
    left: 47%;
}
.menu3 dl{
    margin: 0;
    line-height: 2.3;
}
dl{
    margin: 0;
    line-height: 2;
    margin-bottom: 0;
}

p{
color: white;
font-size: 1.3vw ;
margin: 0;
}

.especialistas{
    display: none;
    position: absolute;
    top: 26%;
    right: 0%;
    width: 30%;
}

.especialistas img{
    width: 100%;
}

.redesSociales{
    position: absolute;
    top: 75%;
    width: 25%;
    height: 10%;
    left: 15%;
    display: flex;
}
.redesSociales img{
    width: 22%;
    margin-right: 5%;
}

.video06{
    position: absolute;
    width: 60%;
    top: 35%;
    left: 40%;
    display: none;
    height: 40%;
}

.video06 video{
    width: 100%;
    position: absolute;
}
.link06{
    display: none;
    position: absolute;
    top: 90%;
    left: 18%;
}
.link06 p {
    font-size: 2.4vw;
    color: #92161a;
}
.link06:hover{
    font-weight: 400;
}

#home img{
    position: absolute;
    width: 3%;
    
    left: 90%;
}
#dacomsa img{
    position: absolute;
    width: 8%;
    left: 75%;
    top: 1.5%;
}
#back{
    position: absolute;
    width: 3%;
    
    left: 85%;

}
.left carousel-control{
    
    position: absolute; 
    right: 70%;
}
.right carousel-control{
    width: 10%;
    height: 10%;
    position: absolute;
    top: -.2%;
}
#suCarousel{
    left: 1%;
    width: 70%;
}
#unCarousel{
    left: 1%;
    width: 90%;
}
.imgCentro{
    position: absolute;
    width:60%;
    top: 42%;
    left: 20%;
}

.imgCentro img{
    width: 100%;
}


.imgSmallKUO{
    float: left;
    width: 40%;
    margin: 0;
    top: 37%;
    left: 55%;
    height: 13%;
    position: absolute;
}
.imgSmall{
    float: left;
    width: 50%;
    margin: 0;
     top: 53%;
     left: 8%;
    height: 13%;
    position: absolute;
}
.imgSmall div{
    width: 100%;
    height: 100%;
    
}
.imgSmall img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgSmallKUO div{
    width: 100%;
    height: 100%;
    
}
.imgSmallKUO img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.plecasAños{
    width: 57%;
    height: 5%;
    margin: 0;
    top: 30%;
    position: absolute;
    left: 43%;
    display: flex;
}
.plecasAños img{
    width: 8%;
    height: 100%;
    float: left;
    margin-right: 0.3%;
}
.plecasAños p{
    width: 8%;
    height: 100%;
    float: left;
    /* margin-right: 1%; */
    margin-left: 1.5%;
    /* font-size: 40px; */
    margin-top: 1%;
}
.imgAños{
    width: 40%;
    height: 40%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 2%;
}
.logosKUO{
    top: 38%;
    position: absolute;
    
    left: 15%;
}
#kuo01{
    top: 38%;
    left: 15%;
    width: 9%;
    height: 10%;
}
#kuo02{
    top: 39%;
    left: 28%;
    width: 8%;
    height: 10%;
}
#kuo03{
    top: 58%;
    left: 18%;
    width: 6%;
    height: 9%;
}
#kuo04{
    top: 59%;
    left: 29%;
    width: 8%;
    height: 8%;
}
#kuo05{
    top: 81%;
    left: 18%;
    width: 10%;
    height: 14%;
}
#kuo06{
    top: 80%;
    left: 33%;
    width: 10%;
    height: 14%;
}
#kuo07{
    top: 75%;
    left: 35%;
    width: 10%;
    height: 14%;
}
#kuo08{
    top: 85%;
    left: 18%;
    width: 10%;
    height: 14%;
}
#kuo09{
    top: 85%;
    left: 31%;
    width: 10%;
    height: 14%;
}
#kuo01img, #kuo02img, #kuo03img, #kuo04img, #kuo05img{
    width: 80%;
    height: 80%;
    left: 16%;
    top: 10%;
    position: absolute;
}
#kuo05img{
    width: 60%;
    height: 80%;
    left: 25%;
    top: 10%;
    position: absolute;

}



 
.imgCentro{
    position: absolute;
    width:60%;
    top: 42%;
    left: 20%;
}

.imgCentro img{
    width: 100%;
}

.botCentro{
  position: absolute;
  width: 70%;
    top: 30%;
    display: flex;
    align-items: center;
    left: 13%;
    margin: 30%
    transform: translate(-50%);

}

.botCentro img{
    width: 100%;
    margin: 10%;

}


.imgCentro{
    position: absolute;
    width:60%;
    top: 42%;
    left: 20%;
}

.imgCentro img{
    width: 100%;
}







.imgBando{
    float: left;
    width: 10%;
    margin: 0;
     top: 69%;
     left: 32%;
    height: 7%;
    position: absolute;
}
.imgMoresa{
    float: left;
    width: 10%;
    margin: 0;
    top: 33%;
    left: 10%;
    height: 7%;
    position: absolute;

}
.imgMoresaDiesel{
    
    float: left;
    width: 10%;
    margin: 0;
    top: 33%;
    left: 27%;
    height: 9%;
    position: absolute;
}
.imgTFVictor{
    float: left;
    width: 10%;
    margin: 0;
    top: 51%;
    left: 12%;
    height: 7%;
    position: absolute;
}
.imgTFVictorDiesel{
    float: left;
    width: 11%;
    margin: 0;
    top: 51%;
    left: 28%;
    height: 10%;
    position: absolute;
}
.imgSello{
    float: left;
    width: 10%;
    margin: 0;
    top: 69%;
    left: 15%;
    height: 7%;
    position: absolute;
}
.imgVehyco{
    float: left;
    width: 10%;
    margin: 0;
    top: 84%;
    left: 17%;
    height: 7%;
    position: absolute;
}
.imgIEA{
    float: left;
    width: 10%;
    margin: 0;
    top: 84%;
    left: 34%;
    height: 7%;
    position: absolute;
}
.imgBando img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgMoresa img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgMoresaDiesel img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgTFVictor img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgTFVictorDiesel img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgVehyco img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgSello img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgIEA img{
    position: absolute;
    width: 100%;
    height: 100%;
}


#breakCarousel{
    width:90%;
    left: 10%;
}

#trenCarousel{
    width:90%;
    left: 10%;
}

#engineCarousel{
    width:90%;
    left: 10%;
}

.imgDerechaBando{
    width: 69%;
    height: 60%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 31%
}


.imgDerechaBando img{

    position: absolute;
    width: 100%;
    height: 100%;
}

.imgDerechatxtBando{
    width: 50%;
    height: 60%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 48%
}


.imgDerechatxtBando img{

    position: absolute;
    width: 100%;
    height: 100%;
}

.imgLukoil{
    float: left;
    width: 20%;
    margin: 0;
     top: 39%;
     left:15%;
    height: 14%;
    position: absolute;
}
.imgLukoil img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgDerechatxtLukoil{
    width: 40%;
    /* height: 60%; */
    margin: 0;
    top: 35%;
    position: absolute;
    left: 52%;
}
.imgDerechatxtLukoil img{
    width: 80%;
   
    position: absolute;
    
}

.imgDerechaLukoil{
    width: 69%;
    height: 60%;
    margin: 0;
    top: 35%;
    position: absolute;
    left: 31%
}


.imgDerechaLukoil img{

    position: absolute;
    width: 100%;
    height: 100%;
}
#imgDerechaTremec1{
    height: 80%;
}

#plants00{
    top: 27%;
    left: 16%;
    width: 15%;
    height: 25%;

}
#plants01{
    top: 43%;
    left: 18%;
    width: 15%;
    height: 25%;
}
#plants02{
    top: 58%;
    left: 21%;
    width: 15%;
    height: 25%;
}
#plants03{
    top: 75%;
    left: 24%;
    width: 14%;
    height: 25%;
}

.menuDacomsa{
    position: absolute;
    top: 37%;
    left: 11%;
}
.menuDacomsa2{
    position: absolute;
    top: 45%;
    left: 18%;
}

.menuDacomsa2 p{
    margin: 0;
    font-size: 2vw;
    
}
.menuDacomsa2 dt{
    margin-bottom: 3%;
}
.menuDacomsa p{
    margin: 0 0 10%;
    font-size: 1.7vw;
    color: #92161a;
}
.tech p{
    margin: 0;
    font-size: 1.7vw;
}
.web p{
    margin-top: 10%;

}

.tituloMenorDacomsa{
    color: black;
}
.tituloMayorDacomsa{
    color: #92161a;
}
.logosAuto{
    left: 50%;
    top: 93%;
    position: absolute;

    transform: translate(-50%);
}
.logoLukoiAuto{
    left: 68%;
    top: 93%;
    position: absolute;
    transform: translate(-70%);
    
}
.logoLukoiAuto img{
    width: 25%;
}

.imgFritec{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 20%;
}
.imgFritec img{
    position: absolute;
    width: 100%;
}
.imgBioceramic{
    position: absolute;
    top: 60%;
    left: 18%;
    width: 20%;
}
.imgBioceramic img{
    position: absolute;
    width: 100%;
}
.imgAutopar{
    position: absolute;
    top: 80%;
    left: 21%;
    width: 15%;
}
.imgAutopar img{
    position: absolute;
    width: 100%;
}
.imgTremec{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 14%;
}
.imgTremec img{
    position: absolute;
    width: 100%;
}

.imgRace{
    position: absolute;
    top: 37%;
    left: 27%;
    width: 13%;
}
.imgRace img{
    position: absolute;
    width: 100%;
}
.imgAutopar2{
    position: absolute;
    top: 60%;
    left: 12%;
    width: 13%;
}
.imgAutopar2 img{
    position: absolute;
    width: 100%;
}
.imgTSP{
    position: absolute;
    top: 60%;
    left: 28%;
    width: 10%;
}
.imgTSP img{
    position: absolute;
    width: 100%;
}
.lineaDelTiempo{
    position: absolute;
    width: 64%;
    height: 62%;
    /* height: 40%; */
    left: 34%;
    top: 36%;
}
.lineaDelTiempo img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#mapa{
    position: absolute;
    width: 49%;
    height: 49%;
    top: 51%;
    left: 50%;
}
#mapa img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.businessCarousel{
    width: 50%;
    height: 40%;
    
    position: absolute;
}
.businessCarousel img{
    width: 100%;
    height: 100%;
    
    position: absolute;
}
#kuo06img{
    width: 30%;
    height: 50%;
    left: 20%;
    top: 0%;
    position: absolute;
}
#kuo07img{
    width: 30%;
    height: 50%;
    left: 55%;
    top: 0%;
    position: absolute;
}
#kuo08img{
    width: 30%;
    height: 50%;
    left: 20%;
    top: 50%;
    position: absolute;
}
#kuo09img{
    width: 30%;
    height: 50%;
    left: 55%;
    top: 50%;
    position: absolute;
}
